<div class="container">
    <h1 mat-dialog-title>{{data.action}} {{product.name}}</h1>
    <div class="container">
      <form [formGroup]="formGroup" mat-dialog-content class="column-group">
        <mat-dialog-content>
          <input type="hidden" [hidden]="product.productId">
  
          <mat-form-field>
            <input matInput placeholder="Name" placeholder="Name" type="string" formControlName="name"
              [(ngModel)]="product.name">
            <!-- <mat-error *ngIf="formGroup.controls.name.invalid">{{getNameErrorMessage()}}</mat-error> -->
          </mat-form-field>
  
          <mat-form-field>
            <input matInput type="text" placeholder="Description" formControlName="description" [(ngModel)]="product.description">
            <!-- <mat-error *ngIf="formGroup.controls.city.invalid">{{getDescriptionErrorMessage()}}</mat-error> -->
          </mat-form-field>
  
          <mat-form-field>
            <input matInput type="text" placeholder="Price" formControlName="price" [(ngModel)]="product.price">
            <!-- <mat-error *ngIf="formGroup.controls.address.invalid">{{getPriceErrorMessage()}}</mat-error> -->
          </mat-form-field>

        </mat-dialog-content>
        <button mat-raised-button type="submit" (click)="submit(product)" color="primary">Save</button>
      </form>
      <div mat-dialog-actions>
        <button mat-raised-button class="close" (click)="onCancelClick()" color="warn">Cancel</button>
      </div>
    </div>   
  </div>